
.clear {
    clear: both;
}

.box1 {
    background-color: yellowgreen;
    width: 300px;
    height: 150px;

}

.box2 {
    background-color: purple;
    margin-right: 20px;
    margin-top: 20px;

}

.box3 {
    background-color: orange;
    margin-top: 20px;

}

.box4 {
    background-color: yellow;
    width: 300px;
    height: 320px;
    margin-left: 20px;
    margin-right: 20px;
}

.box5 {
    background-color: blue;
    width: 140px;
    height: 320px;
}

.box6 {
    background-color: green;
    width: 140px;
    height: 150px;
    margin-top: 20px;
}

.box7 {
    background-color: coral;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.box8 {
    background-color: brown;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.box9 {
    background-color: teal;
    margin-bottom: 20px;
    margin-left: 20px;
}

.box10 {
    background-color: pink;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.box11 {
    background-color: gray;
    margin-top: 20px;
    margin-left: 20px;

}

.link1 {
    width: 140px;
    height: 150px;

}

.link2 {
    width: 300px;
    height: 150px
}

.float {
    float: left;
}

.redboxleft {
    background-color: red;
    width: 75px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;

}

.redboxright {
    background-color: red;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

